

{% load static %}

<link rel="stylesheet" href="{% static 'csss/footer.css' %}">

<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3>TC Fashionp</h3>
      <p>Votre boutique de mode en ligne préférée 🛍️</p>
    </div>

    <div class="footer-section">
      <h4>Liens utiles</h4>
      <ul>
        <li><a href="{% url 'debut' %}">Accueil</a></li>
        <li><a href="{% url 'profil' %}">Mon profil</a></li>
        <li><a href="{% url 'historique' %}">Historique</a></li>
        <li><a href="{% url 'catalogue' %}">catalogue & Produits</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>Suivez-nous</h4>
      <div class="social-icons">
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
        <a href="#"><i class="bi bi-twitter"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 TC Fashion — Tous droits réservés</p>
  </div>
</footer>
