{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reçu de commande - {{ user.username }} </title>
    <link rel="stylesheet" href="{% static 'csss/recu.css' %}">
</head>
<body>

<div class="recu-container">
    <div class="recu-card">
        <div class="recu-header">
            <h1>{{ site_name|default:"TC Fashion Boutique en Ligne" }}</h1>
            <p>Reçu de commande</p>
            <span class="date">
                {{ commande.date_commande|date:"d/m/Y" }}
            </span>
        </div>

        <div class="recu-info">
            <h2>Informations du client</h2>
            <p><strong>Nom :</strong> {{ user.username }}</p>
            <p><strong>Email :</strong> {{ user.email }}</p>
            <p><strong>Pays :</strong> {{ user.profil.pays }}</p>
            <p><strong>Ville :</strong> {{ user.profil.ville }}</p>
            <p><strong>Adresse de livraison :</strong> {{ user.profil.adresse }}</p>
            <p><strong>Code postal :</strong> {{ user.profil.code_postal }}</p>
        </div>

        <div class="recu-articles">
            <h2>Articles commandés</h2>
            <table>
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Quantité</th>
                        <th>Prix unitaire</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in panier.item.all %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.quantite }}</td>
                        <td>{{ item.price }} FCFA</td>
                        <td>{{ item.price }} FCFA</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="recu-total">
            <p><strong>Total de la commande :</strong> {{ total }} FCFA FCFA</p>
        </div>

        <div class="recu-footer">
            <p>Merci d’avoir commandé chez <strong>{{ site_name|default:"TC Fashion" }}</strong> 💙</p>
            <p>Ce reçu a été généré le {{ commande.date_commande|date:"d F Y" }}</p>
        </div>
    </div>
</div>

</body>
</html>
