.footer {
  background-color: #000;
  color: #fff;
  padding: 30px 0 10px;
  font-family: 'Poppins', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1 1 150px;
  margin-bottom: 20px;
}

.footer-section h3, 
.footer-section h4 {
  color: #f5f5f5;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 1px;
}

.footer-section a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.2s;
}

.footer-section a:hover {
  color: #fff;
}

.social-icons a {
  color: #ccc;
  margin-right: 10px;
  font-size: 1.3rem;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #333;
  padding-top: 10px;
  margin-top: 00px;
  font-size: 0.9rem;
  color: #aaa;
}
