

body {
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.form-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
    width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: left;
    margin-bottom: 1.5rem;
}

label {
    color: #009688;
    font-size: 14px;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border 0.3s ease;
}

input:focus {
    border-color: #009688;
}

small {
    font-size: 12px;
    color: #666;
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #009688;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background-color: #00796b;
}

p {
    text-align: center;
    margin-top: 1rem;
}

a {
    color: #009688;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

