.nav-profile-mini {
  width: 32px;              /* Plus petite taille */
  height: 32px;
  border-radius: 50%;       /* Ronde */
  object-fit: cover;
  border: 1.5px solid #fff; /* Petite bordure blanche propre */
  transition: transform 0.2s ease, border-color 0.2s ease;
}

.nav-profile-mini:hover {
  transform: scale(1.08);
  border-color: #ccc;
}








.menu a:hover {
  background: #222;
}

/* --- Mégamenu caché par défaut --- */
.mega-menu {
 
  top: 100%;
  left: 0;
  background: white;
  color: black;
  display: none;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  padding: 20px;
  z-index: 10;
 
}

/* Contenu du méga menu */
.mega-content {
  display: flex;
  justify-content: space-between;
}

.mega-content h3 {
  margin-top: 0;
  border-bottom: 2px solid #111;
}

/* --- Affiche le menu quand on survole --- */
.mega-parent:hover .mega-menu {
  display: block;
}


/* ---- recherche produit ---- */

.search-form {
  margin: 10px auto;
  max-width: 700px;
}

.input-group {
  display: flex;
  gap: 8px;
}

.form-control,
.form-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  flex: 1;
}

.btn {
  background: #111;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background: #333;
}


/* Style général de la barre de navigation */
.navbar {
  background-color: #222 !important;
}

/* Liens normaux */
.navbar .nav-link {
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.3s ease, border-bottom 0.3s ease;
  padding: 10px 15px;
}

/* Lien actif : très blanc + souligné */
.navbar .nav-link.active {
  color: #fff !important;
  border-bottom: 3px solid #fff;
  font-weight: bold;
}

/* Lien au survol */
.navbar .nav-link:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
}

/* Centrage du menu */
.navbar-nav {
  justify-content: center;
  width: 100%;
}





/* HERO */
.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
              url("{% static 'images/hero-bg.jpg' %}") center/cover no-repeat;
  height: 85vh;
  color: #5c92b1;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.hero-content h1 {
  font-size: 3rem;
}
.hero-content .highlight {
  color: #ffcc00;
}

/* PRODUITS */
.product-card {
  background-color: #a6bfcc;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}
.product-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}
.price-tag {
  color: #e91e63;
  font-size: 1.2rem;
}

/* PROMO */
.promo-section {
  background: linear-gradient(135deg, #ff4d6d, #ff9a3c);
}

/* CATÉGORIES */
.category-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.category-card {
  background: #fff;
  border-radius: 10px;
  transition: 0.3s ease;
}
.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
